nav{
  background-color: black;
  font-family: 'Bree Serif', serif;
  color: #094152;

}



#block1{
  background-image: url("img/block4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 420px 40px 420px 40px;

}

h1{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

h1:before,
h1:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

h1:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

h1:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}

.text-block {
  background-color: rgba(0, 0, 0, 0.8);
}

#block5{
  background-image: url("img/block2.GIF");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 420px 40px 420px 40px;
}

h1{
  position: center;
  text-align: center;
  font-family: 'Bree Serif', serif;
  text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;color:#00FFFC;

}

h2{
  font-family: 'Bree Serif', serif;
  text-align: center;
text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;color:#00FFFC;
}

p{
  font-family: 'Bree Serif', serif;
  text-align: center;
  color: #3ACDFC;
}

span{
  margin-left: auto;
  margin-right: auto;
  width: 6em
  text-align: center;
  font-size: 35px;
  font-family: 'Bree Serif', serif;
  color: #FFFFFF;
}


#block3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("img/block5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#block3 h1 {
  font-family: 'Bree Serif', serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #000000;
}

#block3 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 5px;

  }
}

#block3 .media {
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

#block3 .layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #000000;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}

#block3 p {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: 15px;
  letter-spacing:1px;
}

#block3 .media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

#block3 @media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

#block3 @media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}

#block5 div {
  width: 6em
  font-size: 35px;
  font-family: 'Bree Serif', serif;
  color: #4CB6D7;
}

#block5 a {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 6em
  font-size: 35px;
  font-family: 'Bree Serif', serif;
color: #04BFF8;
}

#block7 {
  padding: 35px 0;
  background-image: url("img/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#block7 a {
    font-family: 'roboto';
    font-size: 30px;
}

li {
  width: 9rem;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  width: 6em
  text-align: center;
  font-size: 35px;
  font-family: 'Bree Serif', serif;
  color: #4CB6D7;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  width: 6em
  text-align: center;
  font-size: 35px;
  font-family: 'Bree Serif', serif;
  color: #04BFF8;
}
